body {
	display: flex;
  flex-direction: column;
  justify-content: flex-start;
	background-color: #f4ddba;
	color: #683b05;
	min-height: 95vh;

}

#Menu {
  display: flex;
  justify-content: center;
}

button {
  font-size: 20px;
  padding:5px;
  border: 2px solid;
  border-radius: 20px;
  margin-left: 5px;
  
  width: 100px;
}

#Odstavce {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#DIV1, #DIV2, #DIV3 {
  display: none;
  flex-direction: row;
  justify-content: center;
  background-color: ivory;
}

